h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-offer {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin-bottom: 20px;
}

.card-offer img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-offer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-offer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-offer .card-offer-infos {
  padding: 16px;
}

.card-booking {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-booking img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 16px;
}

.d-flex.justify-content-center:last-child {
  margin-bottom: 20px;
}

.dashboard-container {
  width: 100vw;
  margin: 24px;
  justify-content: space-between;
  overflow: hidden;
}

.dashboard-column {
  width: 30%;
  height: 100vw;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.dashboard-offer {
  width: 100% !important;

}

pending-booking-card {
  padding: 12px !important;
}

status-buttons {
  position: relative !important;
  justify-content: right !important;
  margin-right: 12px !important;
}
