// Specific CSS for your home-page
.hero {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;

  h1 {
    font-size: 36px;
    color: #333;
  }

  p {
    font-size: 18px;
    color: #666;
  }
}

.border {
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-select {
  border: none; /* Remove the border */
  /* Add any additional styling as needed */
}

.search-inputs {
  display: flex;
}

.search-inputs .form-control {
  border: none;
  border-right: 1px solid #ccc;
  height: 100%;
  align-items: center;
  display: flex;
}

.container .form-control {
  border: none;
  border-right: 1px solid #ccc;
  height: 100%;
  align-items: center;
  display: flex;
}

.container .form-control:last-child {
  border-right: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: fit-content;
}

.container .btn {
  border-radius: 50px;
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0;
}

.container .btn:hover {
  background-color: #ff6666;
  border-color: #ff6666;
}

.container .btn span {
  margin-right: 5px;
}

.container-symbols {
    padding: 20px;
}

.container-symbols .d-flex a {
    margin-right: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
}

.container-symbols .d-flex a:last-child {
    margin-right: 0;
}

.container-symbols .d-flex img {
    max-width: 100px; /* Adjust as needed */
    height: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: grey;
  padding: 10px 0;
  text-align: center;
}
