<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - TAforent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-BSHzBZVsF21ByURyztrmED4u7DzjQQdFUBoVFLS4yACZkGlcLb+vStC9t6r4+Jv/AJHksBybFZ3A0V6uj25icw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <section class="hero">
      <div class="container">
          <h1><strong>TAforent</strong></h1>
          <p>Find and book Teaching Assistants for your needs.</p>
      </div>
  </section>

  <div class="container">
    <%= simple_form_for :search, url: "#", method: :get do |f| %>
      <div class="search-inputs d-flex">
        <%= f.input :specialty, prompt: "Select", label: false, as: :select, collection: ["Ruby", "Rails", "Javascript", "Python", "HTML", "CSS", "PHP"], input_html: { class: "form-control" } %>
        <%= button_tag(type: 'submit', class: 'btn btn-outline-success') do %>
          <span><i class="fas fa-search"></i></span> Search
        <% end %>
      </div>
    <% end %>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <footer class="footer">
      <div class="container">
          <p>&copy; 2024 TAforent. All rights reserved.</p>
      </div>
  </footer>
</body>
</html>
