<h2>Here are your available TAs</h2>
<h6>Choose wisely...</h6>

<div class="card-product-container mt-2">
  <% @offers.each do |offer| %>
    <div class="card-product">
      <!-- Image -->
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Product Image">

      <!-- Content -->
      <div class="card-product-infos">
        <!-- User's Offer Page -->
        <h2><%= offer.user.first_name %></h2>

        <!-- Specialty -->
        <p><strong>Specialty:</strong> <%= offer.specialty %></p>

        <!-- Price -->
        <p><strong>Price:</strong> <%= offer.price %></p>

        <%= link_to offer_path(offer) do %>
          <p><strong>Click here and receive a potato</strong></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
