<h1>Here are your available TAs</h1>
<h2>Choose wisely...</h2>

<div class="text-center">
  <ul>
    <% @offers.each do |offer| %>
      <li><%= link_to "#{offer.user.first_name}'s offer", offer_path(offer)%></li>
    <% end %>
  </ul>
</div>
